<% layout('../layout') -%>
<div class="row">
    <div class="span3">
    	<div class="sidebar-nav">
			<ul class="nav nav-list sidenav">
				<li>
					<a href="#"><i class="icon-plus-sign icon-plus-sign-rignt"></i><h4>SETTINGS</h4></a>
				</li>
				<% for(var i=0; i<groups.length; i++) {
					if(index==i) { %>
						<li class="active">
					<%} else { %>
						<li>
					<%} 
				%>
						<a href="/settings?index=<%=i %>&site=<%= groups[i].site %>" class="caps"><i class="icon-chevron-right"></i><%= groups[i].name%></a>
					</li>
				<%}%>
			</ul>
		</div><!--/.well -->
	</div><!--/span-->

	<div class="span9">
		<div class="page-header"><h1><%= sitename%></h1></div>
		<%if(groups.length > 0 && index < groups.length) {%>
			<h2 class="caps"><%= groups[index].name%> Configs</h2>
			<table class="table table-bordered table-striped" id="entryTable">
				<thead>
					<tr>
						<th>Key</th>
						<th>Values</th>
					</tr> 
				</thead>
				<tbody>
					<% for(var i=0; i<groups[index].groupvalues.length; i++){%>
							<tr>
								<td><%= groups[index].groupvalues[i].key%></td>
								<td><%= groups[index].groupvalues[i].value%></td>
								
							</tr>
						<%}%>
				</tbody>	
			</table>
			<span>
				<a class="btn btn-success dropdown-toggle" href="/settings/edit?index=<%=index%>&site=<%=sitename>" id="addRow">Edit</a>
				<a class="btn btn-primary dropdown-toggle" href="#" id="addRow">Add</a>
			</span>
		<%}%>
	</div><!--/span-->
	
</div><!--/row-->